/* 1 */

#complete {
  width: 210px;
  height: 46px;
  position: relative;
  background: #171717;
}
#complete:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #171717;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}
#complete:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #171717;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}
/* c 2 */
#complete2 {
  width: 210px;
  height: 46px;
  position: relative;
  background: #171717;
}
#complete2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}


#complete2:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #171717;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}

/* 2 */
#current {
  width: 210px;
  height: 46px;
  position: relative;
  background: green;
}
#current:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid green;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}
#current:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid green;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}


/*current 2 */
#current2 {
  width: 210px;
  height: 46px;
  position: relative;
  background: green;
}
#current2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}
#current2:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid green;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}

/* 3 */
#incomplete {
  width: 210px;
  height: 46px;
  position: relative;
  background: #eeeeee;
}
#incomplete:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}
#incomplete:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #eeeeee;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
}
